<h1>CREAT NEW GEEST</h1>
<%= simple_form_for @gist do |f| %>
  <%= f.input :title %>
  <%= f.simple_fields_for :gist_files do |gf| %>
    <%= gf.input :body, as: :text %>
  <% end %>
  <%= f.button :submit %>
<% end %>
