<%= @gist.title %>
<br>
added by
<%= @gist.user.user_name %>
<br>
<%= time_ago_in_words(@gist.created_at) %> ago
<br>

<%= button_to('Favorite',
        gist_favorite_path(@gist),
        method: "post",
        remote: true,
        form_class: "favorite-gist",
        id: "favorite-button",
        hidden: @gist.favorited?(current_user)) %>

<%= button_to('Unfavorite',
        gist_favorite_path(@gist),
        method: "delete",
        remote: true,
        form_class: "favorite-gist",
        id: "unfavorite-button",
        hidden: !@gist.favorited?(current_user)) %>

<hr>
<h2>Gist Files</h2>

<% @gist.gist_files.each do |gf| %>
  <h3>Body:</h3>
  <%= gf.body %>
<% end %>

<h3>Tags</h3>
<div class="tag-list">
  <% @gist.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<div class="tag-form">
  <%= simple_form_for(@gist, :method => :put) do |f| %>
    <div id="tag-box"></div>

    <%= f.button :submit %>
  <% end %>
</div>

<script>
  $(function(){

    $(".favorite-gist").on("ajax:success", function(event, data, status, xhr) {
      $("#favorite-button").toggle();
      $("#unfavorite-button").toggle();
    });

    $(".favorite-gist").on("ajax:error", function(event, xhr, status, error) {
      console.log("Something went wrong");
    });

    function TextSearchSelect(div, items){
      var div = $(div);
      var input = $("<input>");

      div.append(input);

      function generatedListElements(listItems){
        var ul = $("<ul>");

        $.each(listItems, function(){
          var that = this;
          var li = $('<li>');
          li.text(this.name);
          // click event on li
          li.on("click", function(){
            var hiddenInput = $('<input>').attr('type','hidden');
            hiddenInput.attr("name", "gist[tag_ids][]");
            hiddenInput.val(that.id);
            $(div).parent().append(hiddenInput);
            $(this).addClass("under-bold");
          });
          ul.append(li);
        });

        return ul;
      }

      function filterList(inputValue){
        var filteredList = [];
        var filter = new RegExp(inputValue);

        $.each(items, function(){
          if (filter.exec(this.name)){
            filteredList.push(this);
          }
        });
        return filteredList;
      }

      function removeList(){
        div.find("ul").remove();
      }

      function addList(listItems){
        div.append(generatedListElements(listItems));
      }

      input.focus(function() {
        addList(items);
      });

      input.blur(function() {
        setTimeout(function() {
          removeList();
        }, 2500);

      });

      input.on("keyup", function(){
        removeList();
        addList(filterList(input.val()));
      });

    }

    var tags = $.getJSON('<%= gist_path(@gist)%>.json', function(data){
      var tagBox = new TextSearchSelect('#tag-box', data);
    });
  });
</script>

